nav{
    width: 90%;
    margin: 4rem auto;
}

.container{
    display: flex;
    justify-content: space-between;
}

input{
    width: 20rem;
    padding: 1rem;
}

datalist{
    width: 20rem;
    color: inherit;
}

