* {
    margin: 0;
    /* box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 0.499); */
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-size: 11px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
/*hsl(0, 0%, 8%) */

nav {
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
    margin-bottom: 0.5rem;
}

h1 {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

nav h1 {
    font-size: 2vw;
    margin: 0 2.5rem;
}

button {
    padding: 0.75rem 2rem;
    background-color: inherit;
    border-radius: 8px;
    font-size: 11px;
}

button,a, #menu {
    cursor: pointer;
}

a:hover{
   color:  hsl(0, 0%, 8%);
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.nav-items {
    margin: 0 2.5rem;
}

.login {
    border: none;
}

.arrow-up, .arrow-up-m{
    display: none;
}

.dropdown:hover .dropdown-content,.dropdown:hover .arrow-up{
    display: block;
}

.dropdown:hover .arrow-down{
display: none;
}

.dropdown-content {
    display: none;
    margin-top: 0.1rem;
    position: absolute;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 99;
    background-color: hsl(0, 0%, 98%);
}

.dropdown-content-mobile{
    display: none;
    margin-top: 1rem ;
    padding: 0 3rem;
    background-color: hsl(0, 0%, 98%);
}

.active{
  color:  hsl(0, 0%, 8%);
}

.dropdown-items {
    padding: 1.2rem 1rem;
}

.space-between {
    row-gap: 4rem;
    align-items: flex-start;
    padding: 1.5rem;
}

.space-around {
    row-gap: 8rem;
    justify-content: flex-end;
}

.partners {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

#menu{
    display: none;
}

#menu-mobile{
    display: none;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    top: 0;
    right: 0;
    width:70%;
    height: 100%;
    font-size: 14px;
}

#menu-mobile .arrow-down-m, #menu-mobile .arrow-up-m{
    padding-left: 1rem;
}


#menu-list-mobile{
    row-gap: 2.5rem;
    margin: 2rem;
    align-items: flex-start;
}

#menu-close{
    padding: 2rem 4rem;
    float: right;
}


#hero {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 80%;
    gap: 5%;
    margin: auto;
    font-size: 18px;
}

#hero-mobile{
    display:none;
}

#hero h1 {
    font-size: 4vw;
}

#hero #hero-desktop {
    width: 80%;
    height: auto;
    margin: auto
}

#hero button {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
}

#learn-more {
    padding: 1rem 2.5rem;
}

#learn-more:hover{
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

@media only screen and (max-width: 768px)  {
    #hero-desktop, .nav-items, br{
        display: none;
    }

    #hero{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
        text-align: center;
    }

    #hero-mobile{
        display:block;
        width:100%
    }

    nav h1{
        font-size: 4.5vw;
    }

    #hero h1{
        font-size: 6vw;
    }

    .space-between{
        align-items: center;
    }

    .space-around{
        row-gap: 2em;
    }

     #menu{
        display: block;
    }

    #menu-mobile button{
        width: 100%;
    }
}